*{
    margin: 0;
    padding: 0;
}

:root{
    --detailColor: #fad84b;
    --backgroundColor: #143a4c;
    --backgroundColor2: #4da87a;
    --textColor: #ffffff;
}

@font-face {
    font-family: Tusker;
    src: url(../fonts/TuskerGrotesk-3500Medium.ttf);
}

@font-face {
    font-family: Indie;
    src: url(../fonts/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: Teko;
    src: url(../fonts/Teko-Light.ttf);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Tusker;
    overflow-x: hidden;
}

main{
    background-color: var(--backgroundColor);
}



/* Landingspagina */
section#landing{
    height: 100vh;
    position: relative;
}

h1, h2{
    color: var(--textColor);
    font-size: 7em;
    line-height: 1.1;
    position: relative;
    width: fit-content;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: .5em;
}

h1{
    padding-top: 1em;
}


h1::after, h2::after{
    content:'';
    width: calc(100% + .5em);
    height: 100%;
    background-color: var(--detailColor);
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}


h1.test::after, h2.test::after {
    transform: scaleX(1);
    transform-origin: left;
}




/* Front end developer animatie */
h3{
    color: var(--detailColor);
    font-size: 5em;
    line-height: 1.1;
    width: fit-content;
    margin: 1em .5em 0 auto;
    text-transform: uppercase;
}

h3 span{
    opacity: 0;
}

h3:first-of-type span.verschijn{
    opacity: 1;
}

h3:nth-of-type(2) span.typing{
    opacity: 1;
}

h3:nth-of-type(2){
    margin-top: 0;
}








/* Muis volgen animatie */
/* #cursorBox{
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid white;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: 0s;
    opacity: 1;
    left: -3em;
}


div#cursorBox.mouseDown{
    width: 30px;
    height: 30px;
}

div#cursorBox.mobile{
    display: none;
} */





/* Aside navigatie */
aside{
    position: sticky;
    top: 0;
    z-index: 9;
}

aside nav{  
    height: 100vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    position: absolute;
}

aside a:first-of-type::before{
    content: '<nav>';
    display: inline-block;
    writing-mode: horizontal-tb;
    transform: rotate(30deg);
    font-size: .5em;
    position: absolute;
    top: -1.8em;
    left: 1em;
    font-family: Indie;
    text-transform: lowercase;
}

aside a{
    color: var(--textColor);
    color: darkgrey;
    text-decoration: none;
    font-size: 2em;
    writing-mode: vertical-rl;
    position: relative;
    text-transform: uppercase;
}

aside a::after{
    content: '';
    background-color: var(--detailColor);
    width: .15em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 90%;
    opacity: 0;
    transition: .5s;
}



/* Aside navigatie  active animatie */
aside a.active::after{
    opacity: 1;
}



/* About me pagina */
section#aboutMe{
    background-color: black;
}

h4{
    color: var(--textColor);
    font-size: 5em;
    width: fit-content;
    text-transform: uppercase;
    margin: 0 .5em .8em auto;
    line-height: 1;
    padding-top: .5em;
    position: relative;
}

h4::before{
    content: '<h4>';
    font-size: .3em;
    text-transform: lowercase;
    font-family: Indie;
    position: absolute;
    top: 100%;
    left: -1em;
    transform: rotate(10deg);
}

h5{
    color: var(--textColor);
    font-family: Tusker;
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 1em;
}

div{
    margin-left: 4em;
    margin-right: 1.2em;
    position: relative;
}

div > p{
    font-family: Teko;
    text-transform: uppercase;
    color: var(--textColor);
    font-size: 1.5em;
    display: inline;
}


div > a{
    font-size: 1.5em;
    font-family: Teko;
    color: var(--textColor);
    width: fit-content;
    text-transform: uppercase;
}


div > img{
    width: 10em;
    display: block;
    transform: rotate(10deg);
    margin: 4em 2em 0 auto;
}

div > p:nth-of-type(3){
    position: absolute;
    background-color: var(--detailColor);
    color: black;
    padding: 0 .5em;
    transform: rotate(10deg);
    bottom: 24em;
    right: 0;
}

div > ul{
    padding-bottom: 3em;
}


div > ul p{
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: Teko;
    color: var(--textColor);
    width: fit-content;
    border: solid .1em white;
    padding: .1em 1em;
    margin-bottom: .6em;
}


/* Work pagina */
section#work{
    height: 100vh;
}




/* Contact pagina */
section#contact{
    height: 100vh;
    background-color: black;
}












/* Niet muis volgen bij tablet/telefoon */
@media only screen and (max-width: 960px){
    #cursorBox{
        display: none;
    }
}

